.userInfo {
    display: grid;
    margin-top: 1%;
    grid-area: content;
    width: 80%;
    background-color: white;
    grid-template-areas: 'img info';

    img {
        grid-area: 'img';
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        width: 200px;
        height: 200px;
        border-radius: 100px; /* Радиус скругления */
    }

    .info {
        margin-top: 10%;
        grid-area: 'info';
        font-size: calc(14px + 14 * (100vw / 1280));

        span {
            margin-right: 40px;
        }
    }

    @media screen and (max-width: 897px) {
        width: 100%;
    }
}