.header {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.search {
    margin-top: 15px;
    width: 14em;
    height: 48px;
    padding-left: 15px;
    background-color: #dce1e6;
    font-size: 20px;
    border: none;
    border-radius: 4%;
    outline: 0;
    box-shadow: 0;
}

.logout {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
}

.logout:hover {
    text-decoration: underline;
}